<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1072" key="e5cae08c-67f7-4d18-b93b-8a02f501f90a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-09-06T11:04:03" updateDate="2017-09-12T16:04:56" nodeName="Home Page" urlName="home-page" path="-1,1072" isDoc="" nodeType="1056" creatorName="Christian Pors" writerName="Christian Pors" writerID="0" template="1055" nodeTypeAlias="homePage">
    <metaDescription><![CDATA[This is Search engine]]></metaDescription>
    <metaKeywords><![CDATA[#Geo #Gris]]></metaKeywords>
    <siteTitle><![CDATA[Site]]></siteTitle>
    <gridFuckPis><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Headline",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "179faac4-9b5e-b111-93a0-45a10f4bcdf4"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1081,
                    "image": "/media/1001/minigris-topweb-jpg.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Image",
          "hasConfig": false,
          "id": "bfb72011-dceb-9dd3-3c21-12ce75f1759c"
        },
        {
          "name": "",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Dette er noget main text</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Main Text",
          "hasConfig": false,
          "id": "3deb8376-c23e-970a-2528-9677e63a189a"
        },
        {
          "name": "column",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Grisen G",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Hvad er det her?</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Jeg vil gerne dø!",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "column",
          "hasConfig": false,
          "id": "fbec7154-c74c-a6bc-0ba3-229035cddd76"
        }
      ]
    }
  ]
}]]></gridFuckPis>
    <content><![CDATA[Fredag var Annas sidste aften. Vi mødtes på Pizza Hut. Først 6, så 7 og til sidst 8 mennesker. Det var så kikset. Vi havde så meget bagage med, fordi 4 af dem, skulle køre samme aften til Danmark for at holde ferien der. Det medførte en kæmpe bunke tasker, poser og andet godt midt på gulvet. Vi delte to familiepizzaer og regningen.
På vejen videre ned til Scotts gik 4 af os, mens de andre fik pakket bilen. Det er nok det sjoveste jeg har oplevet hernede. Jeg ved ikke, hvad det er, men Sif og jeg har bare et eller andet sammen. Det er farligt, hvis vi sidder ved siden af hinanden… Vi bryder ud i latter, og jeg er faktisk ikke helt sikker på, hvad vi griner af. På vejen derned gik vi sammen med de to mest talende au pairs. De plaprede løs og hørte knap på hinanden. Vi kørte så nogle af tingene længere ud.. måske lidt for langt. Men nøj, det var så sjovt. Vi passerede flere mennesker, der så på os, som om vi var på stoffer. Det var vi nu ikke.]]></content>
    <footer><![CDATA[This is Gris fotter]]></footer>
    <articlesMain id="1073" key="8e367d0e-f9c3-4717-82e5-b2078294cfaf" parentID="1072" level="2" creatorID="0" sortOrder="0" createDate="2017-09-06T11:04:48" updateDate="2017-09-06T11:04:48" nodeName="Articles" urlName="articles" path="-1,1072,1073" isDoc="" nodeType="1062" creatorName="Christian Pors" writerName="Christian Pors" writerID="0" template="1061" nodeTypeAlias="articlesMain">
      <metaDescription><![CDATA[This is meta articles]]></metaDescription>
      <metaKeywords><![CDATA[#Articles #Items #ArticlesItems]]></metaKeywords>
      <articlesItem id="1076" key="d864d20d-28cc-4086-9af8-4f325a679ef3" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2017-09-06T11:11:48" updateDate="2017-09-06T11:56:01" nodeName="First Aritcle" urlName="first-aritcle" path="-1,1072,1073,1076" isDoc="" nodeType="1060" creatorName="Christian Pors" writerName="Christian Pors" writerID="0" template="1059" nodeTypeAlias="articlesItem">
        <metaDescription><![CDATA[This is articles items]]></metaDescription>
        <metaKeywords><![CDATA[#items]]></metaKeywords>
        <itemTitle><![CDATA[Article Items]]></itemTitle>
        <itemDescriptionText><![CDATA[Fredag var Annas sidste aften. Vi mødtes på Pizza Hut. Først 6, så 7 og til sidst 8 mennesker. Det var så kikset. Vi havde så meget bagage med, fordi 4 af dem, skulle køre samme aften til Danmark for at holde ferien der. Det medførte en kæmpe bunke tasker, poser og andet godt midt på gulvet. Vi delte to familiepizzaer og regningen.
På vejen videre ned til Scotts gik 4 af os, mens de andre fik pakket bilen. Det er nok det sjoveste jeg har oplevet hernede. Jeg ved ikke, hvad det er, men Sif og jeg har bare et eller andet sammen. Det er farligt, hvis vi sidder ved siden af hinanden… Vi bryder ud i latter, og jeg er faktisk ikke helt sikker på, hvad vi griner af. På vejen derned gik vi sammen med de to mest talende au pairs. De plaprede løs og hørte knap på hinanden. Vi kørte så nogle af tingene længere ud.. måske lidt for langt. Men nøj, det var så sjovt. Vi passerede flere mennesker, der så på os, som om vi var på stoffer. Det var vi nu ikke.]]></itemDescriptionText>
      </articlesItem>
    </articlesMain>
    <projectsMain id="1074" key="feaae555-8e3d-4201-be29-7a6b06d302be" parentID="1072" level="2" creatorID="0" sortOrder="1" createDate="2017-09-06T11:08:27" updateDate="2017-09-06T11:08:27" nodeName="Projects" urlName="projects" path="-1,1072,1074" isDoc="" nodeType="1066" creatorName="Christian Pors" writerName="Christian Pors" writerID="0" template="1065" nodeTypeAlias="projectsMain">
      <metaDescription><![CDATA[This is projects]]></metaDescription>
      <metaKeywords><![CDATA[#projects #projectItems]]></metaKeywords>
      <projectsItem id="1075" key="5f15980b-ca01-48fc-8ded-5d6b92ee7a42" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2017-09-06T11:11:05" updateDate="2017-09-06T11:11:05" nodeName="Project Items" urlName="project-items" path="-1,1072,1074,1075" isDoc="" nodeType="1064" creatorName="Christian Pors" writerName="Christian Pors" writerID="0" template="1063" nodeTypeAlias="projectsItem">
        <metaDescription><![CDATA[This is project items]]></metaDescription>
        <metaKeywords><![CDATA[#items]]></metaKeywords>
        <bodyText><![CDATA[Fredag var Annas sidste aften. Vi mødtes på Pizza Hut. Først 6, så 7 og til sidst 8 mennesker. Det var så kikset. Vi havde så meget bagage med, fordi 4 af dem, skulle køre samme aften til Danmark for at holde ferien der. Det medførte en kæmpe bunke tasker, poser og andet godt midt på gulvet. Vi delte to familiepizzaer og regningen.
På vejen videre ned til Scotts gik 4 af os, mens de andre fik pakket bilen. Det er nok det sjoveste jeg har oplevet hernede. Jeg ved ikke, hvad det er, men Sif og jeg har bare et eller andet sammen. Det er farligt, hvis vi sidder ved siden af hinanden… Vi bryder ud i latter, og jeg er faktisk ikke helt sikker på, hvad vi griner af. På vejen derned gik vi sammen med de to mest talende au pairs. De plaprede løs og hørte knap på hinanden. Vi kørte så nogle af tingene længere ud.. måske lidt for langt. Men nøj, det var så sjovt. Vi passerede flere mennesker, der så på os, som om vi var på stoffer. Det var vi nu ikke.]]></bodyText>
        <itemTitle><![CDATA[Project Item Title]]></itemTitle>
        <status><![CDATA[Idea]]></status>
      </projectsItem>
    </projectsMain>
  </homePage>
</root>