@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="item-container">
    <div>
        <h1>@Umbraco.Field("itemTitle")</h1>
        <div class="item-bodytext">
            <p>@Umbraco.Field("itemDescriptionText")</p>
        </div>
        
    </div>
</div>