@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="item-container">
    <div>
        <h1>@Umbraco.Field("itemTitle")</h1>
        <p>Status:@Umbraco.Field("status")</p>
        <div class="item-bodytext">
            <p>@Umbraco.Field("bodyText")</p>
        </div>
        
    </div>
</div>