@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="snake-background2">
    <div class="center-container">
        <h2>List of Projects:</h2>
        @Umbraco.RenderMacro("ProjectItems")
    </div>
</div>