@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<h1>@Umbraco.Field("itemTitle")</h1> </br>
@Umbraco.Field("bodyText") </br>

<p>Status:@Umbraco.Field("status")</p> </br>